@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Inter&display=swap');

body {
    background-color: #1E1E1E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: white;
}

