
.error {
    text-align: center;
    margin-top: 30vh;
}

.error .textLink {
    background-color: white;
    color: black;
}

.error .textLink:hover {
    background-color:#1E1E1E;
    color: white;
}