.headerDiv {
    margin: auto;
    display: flex;
    width: 55%;
    column-gap: 30px;
    align-items: center;
    padding: 8%;
}

.subheaderDiv {
    text-align: center;
    margin: 0px;
    padding-top: 10%;
}

.headerImg {
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.headerText {
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.subheaderText {
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.text .textLink {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 5px;
}

.text .textLink:hover {
    background-color: #232323;
    color: white;
}

