.headerDiv {
    margin: auto;
    display: flex;
    width: 55%;
    column-gap: 30px;
    align-items: center;
    padding: 8%;
    padding-top: 20%;
}


.subheaderDiv {
    text-align: center;
    margin: 0px;
    padding-top: 10%;
}

.headerImg {
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

p {
    margin: 0;
    padding: 0;
}
.headerText {
    font-size: 60px;
    /* margin: 0;
    padding: 0; */
}

.colorText {
    font-size: 60px;
    display: inline-block;
    margin-bottom: 20px;
    animation: colorchange 25s linear infinite;
}

.subheaderText {
    font-size: 45px;
    /* margin: 0;
    padding: 0; */
}

.text .textLink {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 5px;
}

.text .textLink:hover {
    background-color: #232323;
    color: white;
}

@keyframes colorchange
{
  0%,100% {color: #1abc9c }
  5% {color: #2ecc71 }
  10% {color: #3498db }
  15% {color: #9b59b6 }
  20% {color: #34495e }
  25% {color: #16a085 }
  30% {color: #27ae60 }
  35% {color: #2980b9 }
  40% {color: #8e44ad }
  45% {color: #2c3e50 }
  50% {color: #f1c40f }
  55% {color: #e67e22 }
  60% {color: #e74c3c }
  65% {color: #ecf0f1 }
  70% {color: #95a5a6 }
  75% {color: #f39c12 }
  80% {color: #d35400 }
  85% {color: #c0392b }
  90% {color: #bdc3c7 }
  95% {color: #7f8c8d }
}
/* 
@media screen and (max-width: 600px) {
    .headerDiv {
        /* text-align: center;
        display: block;
        width: 80%;
        margin-top: 5vh; 
        display: flex;
        column-gap: 30px;
        align-items: center;
        padding: 8%;
        padding-top: 30vh;
    }

    .headerText {
        font-size: 15px;
    }

    .headerImg {
        width: 20vh;
    }

    .colorText {
        font-size:15px;
    }

    .text .textLink {
        font-size: 10px;
    }
} */