.navbar {
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #232323;
    top: 0;
    padding-top: 20px;
    z-index: 1;
}

.top_left {
    display: flex;
    column-gap: 10px;
    padding-left: 2.5%;
}

.top_right {
    display: flex;
    column-gap: 30px;
    padding-right: 5%;
}

.dropdown {
    display: flex;
    float: left;
    justify-content: center;
    /* overflow: hidden; */
}

.dropdownContent .textLink {
    float: none;
    color: white;
    display: block;
    font-size: 20px;
    text-align: right;
    
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color:#232323;
    z-index: 1;
    margin-top:60px;
    min-width: 200px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.dropdown:hover .dropdownContent {
    display: block;
}
